.faker {
    background: radial-gradient(circle 700px at 55% 50%, #d9c2a3, transparent),
    radial-gradient(circle 1000px at 10% 70%, #fa7c2f, transparent),
    radial-gradient(circle 500px at 100% 60%, #715540, transparent) #008ac8;
}

#header {
    width: 1920px;
    height: 1080px;
    line-height: 1080px;
    text-align: center;
    color: #fff;
    font-size: 200px;
    margin: 0 auto;
}

#header .content {
    background: url("./venice.jpg") no-repeat center center;
    background-size: cover;
}

h1 {
    margin: 0;
    text-shadow: 0 0 50px #000;
}
